.u-section-1 .u-sheet-1 {
  min-height: 405px;
}

.u-section-1 .u-line-1 {
  top: 157px;
  transform-origin: center top 0px;
  position: absolute;
  height: 208px;
  width: 3px;
}

.u-section-1 .u-text-1 {
  font-family: Chonburi;
  background-image: none;
  text-transform: none;
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: Belleza;
  font-size: 1.875rem;
  margin: 31px auto 0 277px;
}

.u-section-1 .u-icon-1 {
  width: 33px;
  height: 33px;
  margin: -180px auto 0 236px;
}

.u-section-1 .u-icon-2 {
  width: 38px;
  height: 38px;
  margin: 35px auto 0 230px;
}

.u-section-1 .u-icon-3 {
  width: 38px;
  height: 38px;
  margin: 35px auto 0 234px;
}

.u-section-1 .u-text-4 {
  font-family: Belleza;
  font-size: 1.5rem;
  margin: -159px 185px 60px 587px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-1 .u-line-1 {
    top: 57px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -72px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 194px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -177px;
    margin-left: 151px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 145px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 149px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 66px;
    margin-left: 487px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: -50px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
    margin-left: 90px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 47px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 41px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 11px;
    margin-left: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-1 .u-line-1 {
    top: -24px;
    height: 187px;
    left: 269px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -142px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-left: 196px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 40px;
    margin-left: 51px;
  }

  .u-section-1 .u-icon-1 {
    width: 26px;
    height: 26px;
    margin-top: -140px;
    margin-left: 18px;
  }

  .u-section-1 .u-icon-2 {
    width: 28px;
    height: 28px;
    margin-top: 30px;
    margin-left: 17px;
  }

  .u-section-1 .u-icon-3 {
    width: 26px;
    height: 26px;
    margin-top: 30px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-4 {
    margin: -163px 21px 40px 288px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-1 .u-line-1 {
    top: -36px;
    height: 170px;
    left: auto;
    right: 158px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -137px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 56px;
    margin-left: 26px;
  }

  .u-section-1 .u-icon-1 {
    width: 18px;
    height: 18px;
    margin-top: -105px;
    margin-left: 6px;
  }

  .u-section-1 .u-icon-2 {
    width: 18px;
    height: 18px;
    margin-top: 28px;
    margin-left: 5px;
  }

  .u-section-1 .u-icon-3 {
    width: 18px;
    height: 18px;
    margin-top: 23px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    margin: -136px 0 27px 186px;
  }
}